# Final Project

## Predict whether a mammogram mass is benign or malignant

We'll be using the "mammographic masses" public dataset from the UCI repository (source: https://archive.ics.uci.edu/ml/datasets/Mammographic+Mass)

This data contains 961 instances of masses detected in mammograms, and contains the following attributes:


   1. BI-RADS assessment: 1 to 5 (ordinal)  
   2. Age: patient's age in years (integer)
   3. Shape: mass shape: round=1 oval=2 lobular=3 irregular=4 (nominal)
   4. Margin: mass margin: circumscribed=1 microlobulated=2 obscured=3 ill-defined=4 spiculated=5 (nominal)
   5. Density: mass density high=1 iso=2 low=3 fat-containing=4 (ordinal)
   6. Severity: benign=0 or malignant=1 (binominal)
   
BI-RADS is an assesment of how confident the severity classification is; it is not a "predictive" attribute and so we will discard it. The age, shape, margin, and density attributes are the features that we will build our model with, and "severity" is the classification we will attempt to predict based on those attributes.

Although "shape" and "margin" are nominal data types, which sklearn typically doesn't deal with well, they are close enough to ordinal that we shouldn't just discard them. The "shape" for example is ordered increasingly from round to irregular.

A lot of unnecessary anguish and surgery arises from false positives arising from mammogram results. If we can build a better way to interpret them through supervised machine learning, it could improve a lot of lives.

## Your assignment

Build a Multi-Layer Perceptron and train it to classify masses as benign or malignant based on its features.

The data needs to be cleaned; many rows contain missing data, and there may be erroneous data identifiable as outliers as well.

Remember to normalize your data first! And experiment with different topologies, optimizers, and hyperparameters.

I was able to achieve over 80% accuracy - can you beat that?

## Let's begin: prepare your data

Start by importing the mammographic_masses.data.txt file into a Pandas dataframe (hint: use read_csv) and take a look at it.

In [0]:
import pandas as pd
from sklearn import preprocessing
import numpy as np

Make sure you use the optional parmaters in read_csv to convert missing data (indicated by a ?) into NaN, and to add the appropriate column names (BI_RADS, age, shape, margin, density, and severity):

In [0]:
data = pd.read_csv('mammographic_masses.data.txt', header = None, names = ['BI-RADS assessment','Age','Shape','Margin','Density','Severity'], na_values='?', keep_default_na = True)

Evaluate whether the data needs cleaning; your model is only as good as the data it's given. Hint: use describe() on the dataframe.

In [29]:
data.describe()

       BI-RADS assessment         Age  ...     Density    Severity
count          959.000000  956.000000  ...  885.000000  961.000000
mean             4.348279   55.487448  ...    2.910734    0.463059
std              1.783031   14.480131  ...    0.380444    0.498893
min              0.000000   18.000000  ...    1.000000    0.000000
25%              4.000000   45.000000  ...    3.000000    0.000000
50%              4.000000   57.000000  ...    3.000000    0.000000
75%              5.000000   66.000000  ...    3.000000    1.000000
max             55.000000   96.000000  ...    4.000000    1.000000

[8 rows x 6 columns]

There are quite a few missing values in the data set. Before we just drop every row that's missing data, let's make sure we don't bias our data in doing so. Does there appear to be any sort of correlation to what sort of data has missing fields? If there were, we'd have to try and go back and fill that data in.

In [0]:
data = data.drop(labels = 'BI-RADS assessment', axis = 1)

If the missing data seems randomly distributed, go ahead and drop rows with missing data. Hint: use dropna().

In [31]:
data.describe()

              Age       Shape      Margin     Density    Severity
count  956.000000  930.000000  913.000000  885.000000  961.000000
mean    55.487448    2.721505    2.796276    2.910734    0.463059
std     14.480131    1.242792    1.566546    0.380444    0.498893
min     18.000000    1.000000    1.000000    1.000000    0.000000
25%     45.000000    2.000000    1.000000    3.000000    0.000000
50%     57.000000    3.000000    3.000000    3.000000    0.000000
75%     66.000000    4.000000    4.000000    3.000000    1.000000
max     96.000000    4.000000    5.000000    4.000000    1.000000

In [0]:
data.dropna(inplace = True)

Next you'll need to convert the Pandas dataframes into numpy arrays that can be used by scikit_learn. Create an array that extracts only the feature data we want to work with (age, shape, margin, and density) and another array that contains the classes (severity). You'll also need an array of the feature name labels.

In [33]:
data.describe()

              Age       Shape      Margin     Density    Severity
count  831.000000  831.000000  831.000000  831.000000  831.000000
mean    55.777377    2.783394    2.814681    2.915764    0.484958
std     14.663528    1.242331    1.566771    0.350737    0.500075
min     18.000000    1.000000    1.000000    1.000000    0.000000
25%     46.000000    2.000000    1.000000    3.000000    0.000000
50%     57.000000    3.000000    3.000000    3.000000    0.000000
75%     66.000000    4.000000    4.000000    3.000000    1.000000
max     96.000000    4.000000    5.000000    4.000000    1.000000

In [0]:
feature_names = ['Age','Shape','Margin','Density','Severity']
all_features = data[feature_names].drop('Severity', axis=1).values
all_classes = data['Severity'].values

Some of our models require the input data to be normalized, so go ahead and normalize the attribute data. Hint: use preprocessing.StandardScaler().

In [35]:
 preprocessing.StandardScaler().fit_transform(all_features)

array([[ 0.76580356,  0.17445989,  1.39563127,  0.24031298],
       [ 0.15166622,  0.97988304,  1.39563127,  0.24031298],
       [-1.89545824, -1.43638642, -1.15892729,  0.24031298],
       ...,
       [ 0.56109111,  0.97988304,  1.39563127,  0.24031298],
       [ 0.69756608,  0.97988304,  1.39563127,  0.24031298],
       [ 0.42461615,  0.17445989,  0.11835199,  0.24031298]])

## Now build your neural network.

Now set up an actual MLP model using Keras:

In [0]:
import tensorflow as tf
from tensorflow.keras.backend import set_session
config = tf.ConfigProto()
config.gpu_options.allow_growth = True  # dynamically grow the memory used on the GPU
sess = tf.Session(config=config)
set_session(sess)  # set this TensorFlow session as the default session for Keras

In [37]:
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.models import Sequential
from sklearn.model_selection import cross_val_score

def create_model():
    model = Sequential()
    #4 feature inputs going into an 64-unit layer 
    model.add(Dense(64, input_dim=4, kernel_initializer='normal', activation='relu'))
    
    # Another hidden layer of 16 units
    model.add(Dense(16, kernel_initializer='normal', activation='relu'))
        
    # Another hidden layer of 16 units
    model.add(Dense(16, kernel_initializer='normal', activation='relu'))
    
    # Another hidden layer of 16 or 8 units
    model.add(Dense(16, kernel_initializer='normal', activation='relu'))
         
    # Output layer with a binary classification (Benign or Malignant diagnosis)
    model.add(Dense(1, kernel_initializer='normal', activation='sigmoid'))
    # Compile model
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
    return model

from tensorflow.keras.wrappers.scikit_learn import KerasClassifier

# Wrap our Keras model in an estimator compatible with scikit_learn
estimator = KerasClassifier(build_fn=create_model, epochs=100, verbose=0)
# Now we can use scikit_learn's cross_val_score to evaluate this model identically to the others
cv_scores = cross_val_score(estimator, all_features, all_classes, cv=10)
cv_scores.mean()

0.803944343328476

## How did you do?

Which topology, and which choice of hyperparameters, performed the best? Feel free to share your results!